<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kedu.mapper.ContactMapper">
	<insert id="send">
		insert into tbl_contact(nm, email, subj, message)
					values(#{nm},#{email},#{subj},#{message})
	</insert>
</mapper>